.contact {
    text-align: center;
    padding: 2rem;
    background-color: #100808;
  }
  
  .social-links {
    margin-top: 1rem;
  }
  
  .social-icon {
    font-size: 2rem;
    margin: 0 1rem;
    color: #333;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #0077b5; /* LinkedIn blue */
  }
  
  .social-icon[aria-label="github"]:hover {
    color: #333; /* GitHub black */
  }