.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  z-index: 1000;
  padding: 20px;
  display: flex;
  /* Change this from 'space-between' to 'center' to center the navigation bar */
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header nav {
  display: flex;
}

.header nav a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.header nav a:last-child {
  margin-right: 0;
}
